.row{
    align-items: flex-end;
}
.nav{
    gap: 20px;
    .text-muted{
        font-size: 1.2em;
    }
}
.btn{
    margin-right: .5rem;
}

@media screen and (max-width:800px){
    .nav{
        gap: 8px;
    }
}

@media screen and (max-width:575px){
    .nav{
        justify-content: center;
    }
}