/*colors*/
$primary: aliceblue;
$secondary: #29292e;
$alternative: rgb(156, 156, 156);
$text-color: rgb(37, 37, 37);
$background:  rgb(247, 250, 250);

/*fonts*/
$font-pricipal: 'Montserrat', sans-serif;
$font-secundaria: 'Lora', serif;
$font-alternativa: 'Poppins', sans-serif;

/*spacings*/
$spacing-large: 6rem;
$spacing-medium: 4rem;
$spacing-base: 2.5rem;
$spacing-small: 2rem;
$spacing-xs: 1rem;

/*font size*/
$large: 5em;
$medium: 2.2em;
$base: 1.6em;
$small: 1.4em;

/*map shadows*/
$shadows: (
    shadow-small: 3px 0px 8px 0px rgba(0, 0, 0, 0.3),
    shadow-cards: 0px 12px 20px 0px rgba(87, 87, 87, 0.2),
)

